<h1>Bonjour</h1>
<div id="message-container"></div>

<script src="/js/webSocket/webSocket.js" "></script>

<button onclick="connectToServer()">Connexion au serveur</button>
<button onclick="disconnectFromServer()">Déconnexion du serveur</button>
<button onclick="startReading()">Démarrer la lecture</button>
<button onclick="stopReading()">Arrêter la lecture</button>